* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header {
  display: flex;
  flex-direction row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
}
.logo {
  display: flex;
  flex-grow: 1;
}
.logo img {
  height: 50px;
  padding-left: 10px;
}
.nav-links {
  display: inline-block;
  padding: 20px 10px;
}
.nav-links a {
  color: seashell;
}
/* End Header Styles */
/* Mission Section */
.content {
  padding-top: 70px;
}
.mission-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:770px;
  width:1200px;
  margin: 0 auto;
  background-image: url("../images/img-mission-background.jpg");
}
.mission-content {
  background-color: black;
}
h2 {
  display: inline-block;
  padding: 10px;
}
h4 {
  display: inline-block;
  padding: 10px;
}
