* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header {
  display: flex;
  flex-direction row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
}
.logo {
  display: flex;
  flex-grow: 1;
}
.logo img {
  height: 50px;
  padding-left: 10px;
}
.nav-links {
  display: inline-block;
  padding: 20px 10px;
}
a,
  a:visited {
    color: seashell;
}
/* End Header Styles */
/* Mission Section */
.content {
  padding-top: 70px;
}
.mission-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:770px;
  width:1200px;
  margin: 0 auto;
  background-image: url("../images/img-mission-background.jpg");
}
.mission-content {
  background-color: black;
}
h2 {
  padding: 10px;
}
h4 {
  padding: 10px;
}
/* End Mission Styles */
/* Store Section */
.store-container {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}
.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product {
  margin: 10px;
}
.product img {
  height: 200px;
  width: 300px;
}
/* End Store Styles */
/* Location Styles */
.locations-container {
  height: 500px;
  width:1200px;
  margin: 0 auto;
  padding-top: 70px;
  background-image: url("../images/img-locations-background.jpg");
}
.locations-flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 15px;
}
h3 {
  padding-top: 10px;
}
.location {
  flex-basis: 280px;
  background-color: black;
  padding: 10px;
  margin: 5px 20px;
  opacity: 1;
}
.location p {
  padding: 25px 0;
  text-align: center;
}
/* End Location Styles */
/* Contact Styles */
