* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header {
  display: flex;
  flex-direction row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
}
.logo {
  display: flex;
  flex-grow: 1;
}
.logo img {
  height: 50px;
  padding-left: 10px;
}
.nav-links {
  display: inline-block;
  padding: 20px 10px;
}
a,
  a:visited {
    color: seashell;
}
/* Mission Section */
.content,
  .store-container,
    .locations-container {
        padding-top: 70px;
}
.mission-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:700px;
  width:1200px;
  margin: 0 auto;
  background-image: url("../images/img-mission-background.jpg");
}
.mission-content {
  background-color: black;
}
h2,
  h4 {
    padding: 10px;
}
/* Store Section */
.store-container {
  height: 700px;
  width: 1000px;
  margin: auto;
}
.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product {
  margin: 10px;
}
.product img {
  height: 200px;
  width: 300px;
}
/* Location Styles */
.locations-container {
  height: 500px;
  width:1200px;
  margin: 0 auto;
  background-image: url("../images/img-locations-background.jpg");
}
.locations-flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 5px;
}
h3 {
  padding-top: 10px;
}
.location {
  flex-basis: 280px;
  background-color: black;
  padding: 5px;
  margin: 5px 20px;
  opacity: 1;
}
.location p {
  padding: 25px 0;
  text-align: center;
}
/* Contact Styles */
#contact {
  height: 200px;
  width: 100%;
  padding: 0 10px;
}
h5 {
  margin: 30px;
}
/* Footer Styles */
footer {
  text-align: left;
}
/* Media Queries */
@media screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 119px;
  }
  .logo {
    padding-top: 10px;
    flex-grow: 0;
  }
  .content {
          padding-top: 120px;
  }
  .mission-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    background-position: top;
  }
  .store-container {
    width: 100%;
    height:100%;
  }
  .locations-container {
    width: 100%;
    height: 100%;
    background-position: top;
  }
  .locations-flex-container {
    flex-direction: column;
  }
  .location {
    flex-basis: 200px;
    margin-bottom: 15px;
  }
  .location p {
    padding: 15px 0;
    text-align: center;
  }
  footer {
    text-align: center;
    font-size: 16px;
  }
}
